@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif !important;
  margin-top: 0;
  background-color: #ededee !important;
  color: #ededee !important;
  overflow-x: hidden !important;
}

body a {
  text-decoration: none;
  color: inherit;
}

/* navbar styling */
nav.navbar {
  display: flex;
  justify-content: space-between; /* updated */
  align-items: center;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 999;
  transition: top all 0.7s;
  overflow: hidden;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.navbar .logo {
  max-width: 150px;
}
.navbar-brand img {
  width: 60px;
  height: auto;
  transition: all 0.5s ease-in-out;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

/* Sidebar menu */
.navbar-menu.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #171d22;
  z-index: 9999;
  flex-direction: column;
  transform: translateX(100%); /* hides it offscreen */
  transition: transform 0.5s ease-in-out;
}

.navbar-menu.sidebar.show {
  transform: translateX(0);
}

.navbar-menu.sidebar .close-btn {
  position: absolute;
  top: 1.8rem;
  right: 1.5rem;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s;
  overflow: hidden;
}

.navbar-menu.sidebar .close-btn:hover {
  background-color: #026dfd;
  color: #171d22;
}

.navbar-menu .navbar-link {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.05rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  position: relative;
  background-color: transparent;
}

.navbar-menu .navbar-link.favourites .num {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 20px;
  height: 20px;
  background: #026dfd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #171d22;
  border: 2px solid #171d22;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}

.navbar-menu.sidebar .navbar-item {
  width: 100%;
  text-align: center;
}

.navbar-menu.sidebar .navbar-link {
  width: 100%;
  font-size: 1.4rem;
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
}

.navbar-menu .navbar-link:hover,
.navbar-menu .navbar-link.active {
  color: #026dfd !important;
}

.navbar-menu.sidebar .navbar-link.favourites .num {
  position: relative;
  transform: translateY(5px);
}

.navbar .right-btns .btn {
  margin: 0 1rem 0 0;
  font-size: 2rem;
  padding: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
}

.navbar .right-btns .btn:hover {
  color: white;
  background-color: #026dfd;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #026dfd;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #026dfd;
}
