.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.background {
  background-color: white !important;
  color: red !important;
}

.back_to_top {
  position: fixed;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: #026dfd;
  border-color: #fff;
}

.back_to_top:hover {
  background-color: #fff;
  border-color: #026dfd;
}

.back_to_top i {
  font-size: 30px;
  color: #ffffff;
}

.back_to_top:hover i {
  color: #026dfd;
}
