@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.HeroContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/IMG_4709.JPG) no-repeat center center;
  background-size: cover;
  min-height: 115vh;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .HeroContainer {
    min-height: 95vh;
    background-color: #026dfd;
    height: 100vh;
    display: flex;
    overflow: hidden;
  }
}

.HeroContent h1 {
  margin-top: 10px;
  font-size: 48px;
  font-weight: 900;
  /* line-height: 58px; */
}

@media (max-width: 768px) {
  .HeroContent h1 {
    font-size: 40px;
  }

  .HeroContent h4 {
    font-size: 16px;
    margin-top: 10px;
  }
}

.HeroContainer span {
  color: #026dfd;
  font-weight: 700;
}

.name {
  color: #fff !important;
  font-family: "Pacifico", cursive;
}

.hero_text {
  color: #026dfd;
  font-weight: 900 !important;
}

.HeroButtons {
  color: #026dfd;
  font-weight: 700;
  text-decoration: none !important;
  gap: 10px;
}

.hero_btn1 {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #026dfd;
  background: #ededee;
  border: 3px solid #026dfd;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px #ededee;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.hero_btn1:hover {
  color: #ededee;
  background: #026dfd;
  box-shadow: inset 0 0 0 0 #ededee;
  border-color: #026dfd;
}

.HeroTyping {
  font-size: 40px;
  font-weight: 700;
  color: #026dfd;
  margin-top: 20px;
  margin-bottom: 10px;
}

.heroImageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.heroImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
}

/* About */
