.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../IMG_4709.JPG) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  min-height: 115vh;
  justify-content: flex-start;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    min-height: 95vh;
  }
}

/* .header {
  background: url(../../assets/IMG_4709.JPG) no-repeat center center fixed;
  background-size: cover;
  min-height: 115vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
} */
